<div class="container up-480">
  <div class="row">


    <div class="col s6 offset-s3 m3 offset-m9 l2 offset-l10 red darken-2 user-tag" style="text-align: center">
      <span class="white-text valign-wrapper" style="font-size: 25px">
        <i class="material-icons" style="font-size: 30px">movie_filter</i>
        <span class=""> designer</span>
      </span>
    </div>

  </div>
  <div class="row">
    <div class="col s12 m6 center">
      <img src="./assets/images/designer-photo.jpg" alt="" class="circle" width="250">
    </div>
  </div>

</div>