<div class="container" *ngIf="assetsListShowCase; else noContentWasFound">
  <div class="row">
    <div class="col s12 m6 l4" *ngFor="let asset of assetsListShowCase">

      <div class="card round-corner-20px hoverable">
        <div class="card-image" *ngIf="asset.documentType == 'mp4'">
          <video class="responsive-video round-corner-top-20px" width="320" height="240">
            <source [src]="asset.assetURL" type="video/mp4">
          </video>
        </div>
        <div class="card-image" *ngIf="asset.documentType == 'png' || asset.documentType == 'jpg' || asset.documentType == 'jpeg'">
          <img [src]="asset.assetURL" alt="asset.assetDescription" class="round-corner-top-20px">
        </div>
        <div class="card-content round-corner-20px">
          <span class="card-title activator grey-text">
            {{ asset.title }}
            <a href="#modalVideoDescription" class=" modal-trigger" (click)="selectAssetToView(asset.assetSha256Hash)">
              <i class="material-icons right">info</i>
            </a>
          </span>
          <p> {{ asset.assetDescription }}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #noContentWasFound>
  <div class="container">
    <div class="row">
      <h6>...loading</h6>
    </div>
  </div>
</ng-template>


<div id="modalVideoDescription" class="modal transparent full-width" >
  <div class="row" *ngIf="assetsSelectedToView">
    <div class="col s12 m6">
      <div class="modal-content teal white-text" style="height:80vh;">
        <video class="responsive-video" controls id="previewVideo">
          <source [src]="assetsSelectedToView.assetURL" type="video/mp4" *ngIf="assetsSelectedToView.documentType == 'mp4'">
        </video>
        <div class="row">
          <div class="col s12">
            <img [src]="assetsSelectedToView.assetUploaderPicture" class="circle responsive-img" width="70">
          </div>

          <!-- <div class="col s12 ">
            <h4>Solutions</h4>
            <p>¿Qué es blockchain para dummies? </p>
            <p>¿Qué es un ledger? </p>
            <p>¿Cómo puedo asesgurar mis datos?</p>
            <p>¿Qué es un contrato inteligente?</p>
          </div> -->


        </div>
      </div>
    </div>

    <div class="col s12 m6 valign-wrapper " style="height:80vh; display: flex; justify-content: center; align-items: middle; flex-direction: column;">
      <h2 class="white-text"> {{ assetsSelectedToView.price }} {{  assetsSelectedToView.currency  }}  </h2>
      
      <br>
      
      <button class="btn modal-close" (click)="BuyVideo(assetsSelectedToView.assetSha256Hash);"> Buy</button>
    </div>
  </div>

</div>
