<div class="container">
  <div class="row mt-3">
    <div class="col m3 s6">
      <img src="./assets/images/expert-photo.jpg" alt="" class="circle responsive-img" width="250">
    </div>

    <div class="col m3 offset-m6 s6">
      <img src="./assets/images/user-photo.jpg" alt="" class="circle responsive-img" width="250">
    </div>
  </div>

  <div class="row">
    <div class="col m3 s6">

      <div class="input-field center">
        <input id="PorcentageExpert" type="text" class="validate">
        <label for="PorcentageExpert">Porcentage</label>
      </div>
    </div>
    <div class="col m3 offset-m6 s6">
      <div class="input-field center">
        <input id="PorcentageUser" type="text" class="validate">
        <label for="PorcentageUser">Porcentage</label>
      </div>
    </div>

    <div class="col s12 center m3 offset-m4">
      <div class="input-field center">
        <input id="setPrice" type="text" class="validate">
        <label for="setPrice">Set price</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center mt-3 ">
      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">deal</a>
    </div>
  </div>
</div>


<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>
      You're ok with the agreement of the porcentages?
    </h4>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>