<div class="container up-480">
  <div class="row">
    <div class="col s12">
      <div class="row">

        
        <div class="col s6 m3 l2 blue-grey darken-4 user-tag right" style="text-align: center">
          <span class="white-text valign-wrapper" style="font-size: 25px">
            <i class="material-icons" style="font-size: 30px">stars</i>
            <span class=""> Expert</span>
          </span>
        </div>
        
        <div class="col s6 m3 offset-m6 l2 offset-l8">
          <div class="card center transparent">
            <!-- <input type="file" accept="video/mp4,video/x-m4v,video/*" value="" id="videoUuploadInput" hidden>  -->
            <a class="btn tooltipped white" data-position="bottom" data-tooltip="Upload a video" routerLink="/videoUpload">
              <i class="material-icons teal-text">
                cloud_upload
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col s12 m6 center">
      <img src="./assets/images/expert-photo.jpg" alt="" class="circle" width="250">
    </div>
  </div>

</div>
