<!-- ***************************************** -->
<!-- Video en vista de telefonos moviles -->
<div *ngIf="assetSource">
  <video controls class="responsive-video hide-on-med-and-up">
    <source [src]="assetSource" type="video/mp4">
  </video>
</div>

<!-- ***************************************** -->
<!-- Vista en escritorio -->
<div class="conainer">
  <div class="row">
    <div class="col s12 m8">

      <!-- Video en la vista de escritorio -->
      <div *ngIf="assetSource">
        <video controls class="responsive-video hide-on-small-only">
          <source [src]="assetSource" type="video/mp4">
        </video>
      </div>

      <ul class="collapsible">

        <li>
          <div class="collapsible-header valign-wrapper">

            <span class="f-size-20">Resumen Blockchain</span>
            <span class="badge">
              <i class="material-icons right">arrow_drop_down_circle</i>
            </span>
          </div>
          <div class="collapsible-body no-pad">

            <div class="card no-pad no-mar">
              <div class="card-content black-text">

                <p>Este video es una peque;a explicacion de lo que es blockchain.</p>
              </div>
              <div class="card-action">
                <div class="row">
                  <div class="col s6">
                    <a routerLink="/expert" class="left">
                      <img src="./assets/images/expert-photo.jpg" class="circle" width="70">
                    </a>
                  </div>
                  <div class="col s6">
                    <a routerLink="/designer" class="right">
                      <img src="./assets/images/designer-photo.jpg" class="circle" width="70">
                    </a>
                  </div>

                  <div class="col s6 left">
                    <p class="left grey-text">Realizador</p>
                  </div>
                  <div class="col s6">
                    <p class="left grey-text right">Diseñador de contenido</p>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </li>
      </ul>


      <!-- ***************************************** -->
      <!-- Pagar video -->

      <!--<div class="input-field col s12 m8">
         <form>
          <i class="material-icons prefix">monetization_on</i>
          <input id="icon_prefix" type="text" class="validate" [(ngModel)]="videoPrice" name="videoPrice">
          <label for="icon_prefix">Set Video Price</label>
        </form> 
      </div>-->
    </div>







    <!-- ***************************************** -->
    <!-- Comentarios -->
    <div class="col s12 m4" *ngIf="showPrice">

      <!-- <ul class="collapsible">

        <li class="active">
          <div class="collapsible-header">

            <span class="center"> Comentarios </span>
            <span class="badge">
              <i class="material-icons right">arrow_drop_down_circle</i>
            </span>
          </div>
          <div class="collapsible-body no-pad">

            <div class="card">
              <div class="card-content">
                <strong>Carlos Sepulveda</strong>
                <br>
                <p>Ahora lo entiendo todo, me fascinó, es un excelente video.</p>
              </div>
            </div>


            <div class="card">
              <div class="card-content">
                <strong>Maria Cárdenas</strong>
                <br>
                <p>Pensé que era más complejo</p>
              </div>
            </div>
          </div>
        </li>
      </ul> -->

    </div>

  </div>
</div>


<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Getting awesome content?</h4>
    <p>Please add your credit card information</p>
  </div>
  <div class="modal-footer">
    <a (click)="removePrice()" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>