$user-tag-radius: 12px;
@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -mz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.user-tag{
    @include border-radius($user-tag-radius)
}

.up-480{
    margin-top: -480px !important;
    z-index: 2;
}


.no-pad{
    padding: 0px !important
}

.no-mar{
    margin: 0px !important
}

.pr-2{
    padding-right: 2em;
}
.pl-2{
    padding-left: 2em;
}

.pointer{
    cursor: pointer;
}