$user-tag-radius: 12px;
@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -mz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.user-tag{
    @include border-radius($user-tag-radius)
}

.up-480{
    margin-top: -480px !important;
    z-index: 2;
}


.no-pad{
    padding: 0px !important
}

.no-mar{
    margin: 0px !important
}

.pr-2{
    padding-right: 2em;
}
.pl-2{
    padding-left: 2em;
}

.mt-3{
    margin-top: 3em;
}
.pointer{
    cursor: pointer;
}

.round-corner-20px{
    border-radius: 20px !important
}

.round-corner-top-20px{
    border-radius: 20px 20px 0px  0px !important;
}

.dropzone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 300px;
    border: 2px solid #f16624;
    border-radius: 5px;
    background: #ccc;
    margin: 10px 0;

    &.hovering{
        border: 2px solid #f16624;
        color: #dadada !important;
    }

    .file-label{
        font-size: 1.2rem;
    }
}


.img-uploaded {
    width: 250px;
}


progress::webkit-progressive-value{
    transition: width 0.1s ease;
}