<div class="slider">
    <ul class="slides">
      <li>
        <img src="./assets/images/user-cover.jpeg">
        <div class="caption center-align">
          <h3>Do you have a question no one can Answer?</h3>
          <h5 class="light grey-text text-lighten-3">Here you'll find an expert</h5>
        </div>
      </li>
      <li>
        <img src="./assets/images/expert-cover.jpeg">
        <div class="caption right-align ">
          <h3>Do you have great knowlege of a certain topic?</h3>
          <h5 class="light grey-text text-lighten-3">Help others and make good money out of it.</h5>
        </div>
      </li>
      <li>
        <img src="./assets/images/designer-cover.jpeg">
        <div class="caption left-align">
          <h3>Great skills at content design?</h3>
          <h5 class="light grey-text text-lighten-3">Help our experts improve their videos and content.</h5>
        </div>
      </li>
    </ul>
  </div>